<h1>Welcome to your home page</h1>



<p> Your budget is £<%= 1000 %> </p>
<p> Your total amount spent is £<%= @total %></p>
  <% left_over = 1000 - @total %>
<p> You have £<%= left_over %> remaining</p>
