<div class="transactions">
  <% @transactions.each do |transaction| %>
  <table style="width:100%">
    <tr>
      <th>Merchant Name</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </table>
  <% end %>
