<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" media="screen" href="/style.css">
    <meta charset="utf-8">
    <title>Money Saver</title>
  </head>
  <body>
    <nav>
    <div class="dropdown">
      <button class="dropbutton">Menu</button>
      <div class="dropdown-content">
        <a href="/">Home Page</a>
        <a href="/transactions">All Transactions</a>
        <a href="/transactions/add">Add a Transaction</a>
        <a href="/vendors">Vendors</a>
        <a href="/types">Types</a>
        <a href="/transactions/sort_by_type">Transactions by Type</a>
        <a href="/transactions/sort_by_vendor">Transactions by Vendor</a>
      </div>
    </div>
    </nav>
    <%= yield %>
  </body>

  <footer>
    <div class "footer">
      <img src="kanagawa.jpg" alt="Picture of a Tsunami at Kanagawa">
    </div>
  </footer>
</html>
