<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title>Money Saver</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/transactions">All Transactions</a></li>
        <li><a href="/transactions/add">Add a transaction</a></li>
        <li><a href="/transactions/sort_by_type">Transactions by Type</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
