<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" media="screen" href="/reset.css">
    <link rel="stylesheet" media="screen" href="/style.css">
    <meta charset="utf-8">
    <title>Money Saver 元</title>
  </head>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Anton|Roboto|Saira" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
    <nav>
      <h1>MONEY SAVER 元 <i class="fa fa-credit-card" aria-hidden="true"></i> </h1>
    <div class="dropdown">
      <button class="dropbutton"><i class="fa fa-bars" aria-hidden="true"></i>Menu</button>
      <div class="dropdown-content">
        <a href="/">Home Page</a>
        <a href="/transactions">All Transactions</a>
        <a href="/transactions/add">Add a Transaction</a>
        <a href="/vendors">Vendors</a>
        <a href="/types">Types</a>
        <a href="/transactions/sort_by_type">Transactions by Type</a>
        <a href="/transactions/sort_by_vendor">Transactions by Vendor</a>
      </div>
    </div>
    </nav>
    <%= yield %>
  </body>

</html>
