nav {
  background-color: black;
  width: 100%;
  display: inline-block;
}

nav h1 {
  color: white;
  padding: 10px;
  text-align: center;
  display: block;
  font-size: 40px;
  font-family: 'Abril Fatface', cursive;
  font-style: italic;
  position: absolute;
  margin-left: 40%;
  margin-top: auto;

}

.dropdown {
  display: inline-block;
  border-radius: 10px;
  padding-top: 5px;
  margin-right: 100%;
}

.app_name {
    display: inline-block;
    border-radius: 10px;
    padding-top: 5px;
    margin-right: 100%;
}

.dropbutton {
  background-color: black;
  border: none;
  color: white;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
  font-family: 'Didot', 'serif';
  font-size: 20px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbutton {
  background-color: #3e8e41;
}

.Home {
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  max-width: 700px;
  min-width: 500px;
  background-color: white;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  width: 60%;
  font-family: 'Impact','fantasy';
  line-height: 250%;
}

.Home p {
  font-family: 'Andale Mono', 'monospace';
  font-size: 20px;
}

.Home h1 {
  font-size: 30px;
  padding-bottom: 20px;
  font-style: italic;
}

.transactions {
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  padding-top: 30px;
  border: 2px solid;
  min-width: 500px;
  max-width: 800px;
  border-radius: 5%;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  font-family: 'Impact','fantasy';
  line-height: 200%;
}

.transactions h1 {
  font-size: 30px;
}

.transactions p {
  font-size: 30px;
  padding: 10px;
}

.transactions td {
  font-family: 'Optima', 'sans-serif';
  border-bottom: 1px solid #ddd;
}

.small_tb {
  border: 1px solid;
  align-content: center;
  min-width: 100px;
  max-width: 200px;
  border-radius: 5%;
  background-color: white;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  width: 60%;
  font-family: 'Roboto',sans-serif;
  line-height: 250%;
}

.small_tb p {
  font-size: 30px;
  background-color: grey;
  border-radius: 5px;
  font-weight: bold;
}

.small_tb td {
  font-family: 'Optima', 'sans-serif';
}

th {
  font-style: italic;
  font-size: 20px;
}

.grid-row-header {
  font-style: italic;
  font-size: 20px;
}

.cell {
  flex: 1;
  padding: 5px;
}

.grid-row {
  display: flex;
  flex-direction: column;
}

.grid-row-body {
  font-family: 'Optima', 'sans-serif';
  border-bottom: 1px solid #ddd;
  padding: 10px;
}


.grid-row-body:hover {
  background-color: #CFCFCF;
}

@media all and ( min-width: 720px) {
  .grid-row-header {
    flex-direction: row;
  }

  .grid-row-body {
    flex-direction: row;
  }
}


body {
  align-content: center;
  text-align: center;
  background-image: url('kanagawa.jpg');
  background-size: cover;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

.sort {
  padding-top: 20px;
}

button {
  font-family: 'Didot', 'serif';
}

.warning {
  font-size: 20px;
  font-family: 'Impact','fantasy';
  color: red;
  font-style: bold;
}


.delete {
  background-color: #555555;
  color: white;
  font-size: 15px;
  padding: 15px;
  border-radius: 8px;
  border: none;
}

.edit {
  background-color: #FF8C00;
  color: white;
  font-size: 15px;
  padding: 15px;
  border-radius: 8px;
  border: none;
}

label {
  font-size: 20px;
}
